In [1]:
import pandas as pd
games=pd.read_csv("games.csv")
games.head()

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
1,45909,1,ana,2015-04-06,153,201500002,4,sea,1:12 PM,Ron Kulpa,Brian Knight,Vic Carapazza,Larry Vanover,Safeco Field,"54 degrees, cloudy","1 mph, Varies",0
2,36969,2,atl,2015-04-06,156,201500003,1,mia,4:22 PM,Laz Diaz,Chris Guccione,Cory Blaser,Jeff Nelson,Marlins Park,"80 degrees, partly cloudy","16 mph, In from CF",16
3,31042,6,bal,2015-04-06,181,201500004,2,tba,3:12 PM,Ed Hickox,Paul Nauert,Mike Estabrook,Dana DeMuth,Tropicana Field,"72 degrees, dome","0 mph, None",0
4,45549,8,bos,2015-04-06,181,201500005,0,phi,3:08 PM,Phil Cuzzi,Tony Randazzo,Will Little,Gerry Davis,Citizens Bank Park,"71 degrees, partly cloudy","11 mph, Out to RF",0

In [2]:
games.wind = games.wind.str.split(" ", n = 1, expand = True)

In [4]:
#winds[0] = pd.to_numeric(winds[0])

In [6]:
#nums = winds[0]

In [8]:
#winds.max()

In [10]:
#nums.max()

In [11]:
games.wind=games.wind.astype("int")
means=games.groupby("venue_name").wind.mean()
means.idxmax()

'AT&T Park'

In [13]:
ndf = pd.DataFrame(games.venue_name, games.wind)
ndf.sort_values(by=['wind'])

              venue_name
wind
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
0          Wrigley Field
...                  ...
23          Marlins Park
23          Marlins Park
23          Marlins Park
23          Marlins Park
23          Marlins Park
23          Marlins Park
23          Marlins Park
23          Marlins Park
23          Marlins Park
23          Marlins Park
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
24       Tropicana Field
25    Citizens Bank Park
25    Citizens Bank Park
25    Citizens Bank Park
25    Citizens Bank Park
28           Miller Park
28           Miller Park

[9718 rows x 1 columns]